/* Body CSS */
body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    text-align: justify;
    font-size: 20px;
}
/* Section1 CSS */
.section1{
    height: 550px;
    margin-bottom: 100px;
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
   
    
}
.section1-img{
    height: 100%;
    display: inline-block;
}
.half-side{
    padding-left: 20px;
    margin: 5px 40px 0px 50px;
}
.half-side span{
    color: orange;
}
.half-side h2{
    color: rgb(75, 149, 247);
}
.section-btn{
    padding: 10px 20px;
    background-color: rgb(236, 142, 99);
    border-radius: 5px;
    text-decoration: none;
    color: white;
}
.section-btn:hover {
    background-color: rgb(136, 62, 18);
    transition: .5s;

}
/* Section2 CSS */
.section2{
    display: flex;
    
}
.section2-img{
    height: 75%;
    margin-left: 62px;
    display: inline-block;
}
.half-side2{
    margin-left: 130px;
    margin-right: 50px;
}
.half-side2 p{
    display: block;
}
   
    